body {
    background-color: #eef9bf;
    font-family: 'Roboto', sans-serif;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px auto;
}

h1 {
    font-size: 56px;
    color: #75b79e;
    text-align: center;
}

.cartas {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.carta {
    width: 200px;
    height: 250px;
    position: relative;
    margin: 18px;
}

.face {
    width: 100%;
    height: 100%;
    background-color: #A7E9AF;
    border-radius: 10px;
    box-shadow: 1px 1px 1px rgba(0,0,0,.3);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    backface-visibility: hidden;
    transition: all .5s;
    transform-style: preserve-3d;
}

.frente {
    transform: rotateY(180deg);
}

.carta:active .frente {
    transform: rotateY(0deg);
}

.carta:active .verso {
    transform: rotateY(-180deg);
}

img {
    width: 150px;
}
